/* wanted to have a different background color and have same  font family for all contents   */
body{
    background-color: rgb(189, 184, 184);
    margin-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url();
    height: 100%;
}

#btn-start{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#1645c7;
    font:bold 40px;
	color:#fff;
}

#code-title{
    text-align: center;
    font-weight: bold;
}
.fit{
    width: 50%;
    text-decoration: darkblue;
    text-align: center;
    margin-top: 15%;
    margin-left: 25%;
}
/* change the title background color to be seperated from the other texts  */
#title{
    font-family: cursive;
    font-size: 35px;
    margin-bottom: 50px;
    background-color: rgb(216, 210, 210);
    padding: 1rem;
    border-radius: 1rem;
}